In [1]:
import requests
response = requests.get("https://www.statbunker.com/competitions/PlayerStandings?comp_id=622")

In [2]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
Forwards = []
items = soup.findAll("tr", {"class": "Forward"})

for players in items:
    name = players.find("td", "mob tdInline").contents[0]
    team = players.find("td", "nonMob").contents[0]
    pos = players.find("td", "nonMob").find_next("td").contents[0]
    appear = players.find("td", "nonMob").find_next("td").find_next("td").contents[0]
    goals = players.find("td", {"title": "Goals"}).contents[0]
    assists = players.find("td", {"title": "Assists"}).contents[0]
    yellow = players.find("td", {"title": "Yellow"}).contents[0]
    yellow_red = players.find("td", {"title": "Yellow-Red"}).contents[0]
    red = players.find("td", {"title": "Red"}).contents[0]

    Forwards.append({
        "Name": name,
        "Team": team,
        "Position": pos,
        "Appearances": appear,
        "Goals": goals,
        "Assists": assists,
        "Yellow": yellow,
        "Yellow-Red": yellow_red,
        "Red": red
    })

In [4]:
import pandas as pd
df_forwards = pd.DataFrame(Forwards)
df_forwards

,Name,Team,Position,Appearances,Goals,Assists,Yellow,Yellow-Red,Red
0,Inaki Williams,Athletic Bilbao,Forward,38,12,4,3,0,0
1,Jorge Molina,Getafe,Forward,38,14,5,2,0,0
2,Antoine Griezmann,Atletico Madrid,Forward,37,15,8,5,0,0
3,Angel Rodriguez,Getafe,Forward,37,8,3,4,0,0
4,Alex Moreno,Rayo Vallecano,Forward,36,1,1,5,0,0
...,...,...,...,...,...,...,...,...,...
129,Miguel Angel Rubio,Getafe,Forward,0,0,0,0,0,0
130,Zourdine Thior,Real Sociedad,Forward,0,0,0,0,0,0
131,Victor Campuzano,Espanyol,Forward,0,0,0,0,0,0
132,Andrei Lupu,CD Alaves,Forward,0,0,0,0,0,0
133,Alex Pachon,Girona FC,Forward,0,0,0,0,0,0

In [5]:
df_forwards.Appearances = df_forwards.Appearances.astype(float)
df_forwards.Goals = df_forwards.Goals.astype(float)
df_forwards.Assists = df_forwards.Assists.astype(float)
df_forwards.Yellow = df_forwards.Yellow.astype(float)
df_forwards["Yellow-Red"] = df_forwards["Yellow-Red"].astype(float)
df_forwards.Red = df_forwards.Red.astype(float)
df_forwards.describe()

       Appearances       Goals     Assists      Yellow  Yellow-Red         Red
count   134.000000  134.000000  134.000000  134.000000  134.000000  134.000000
mean     18.865672    3.753731    1.485075    2.544776    0.044776    0.044776
std      12.148078    5.707714    2.216599    2.585720    0.241102    0.207588
min       0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%       8.250000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      18.000000    1.000000    1.000000    2.000000    0.000000    0.000000
75%      30.750000    5.000000    2.000000    4.000000    0.000000    0.000000
max      38.000000   36.000000   13.000000   11.000000    2.000000    1.000000